@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-base-100 text-white;
  }

  body {
    @apply min-h-screen;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-base-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary/50 rounded-full hover:bg-primary/70;
  }
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    display: block;
    padding: 0;
  }
}
